#searchbar{
    width: 600px;
}

.input-group .input-group-text {
    background-color: #fff;
  }
  
  /* if you wish */
  .input-group input.form-control{
    border-left-color: #FFF;
  }

.text-dark{
    font-family: AirbnbCerealBold;
}

@font-face {
    font-family: 'AirbnbCerealBold';
    src: local('AirbnbCerealBold'), url(../assets/font/AirbnbCerealBold.ttf) format('truetype');
  }

#profilepic{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#GrayLine{
    border-left: 1px solid rgb(204, 201, 201);
    height: 50px;
}

