#pagenav{
    width: 200px;
}

#searchbarskill{
    height: 38px;
}

#pagebar{
    height: 38px;
}

#scrollTable{
    overflow-y: auto;
    max-height: 300px;
}

#theadproject{
    position: sticky;
}